#version: '3'

services:
  watchtower:
    #image: containrrr/watchtower
    image: nickfedor/watchtower
    container_name: watchtower
#   environment:
#     - TZ=${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - dockernet
networks:
  dockernet:
    external: true
